* {
	box-sizing: border-box;
}
body {
    background: url('https://png.pngtree.com/background/20210709/original/pngtree-bright-spot-light-effect-background-picture-image_616312.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    background: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    color: rgba(0,0,0,.8);
}
.hide {
	display: none!important;
}
.align-center {
	text-align: center;
}
.pointer {
	cursor: pointer;
}
.headset {
	font-size: 2.6em;
	text-align: center;
	position: relative;
    left: 50%;
    transform: translate(-50%, 0);
	margin-bottom: 10px;
    color: rgba(0,0,0,.8);
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
	font-size: 1.6em;
	margin: 0;
    color: rgba(0,0,0,.8);
    font-weight: 400;
	text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
}
ul li{
    margin-right: 20px;
}
li .line {
    height: 0px;
    width: 70%;
    margin-top: 8px;
    background: #409eff;
}
.app-container {
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
}
.col-1 {
    width: 40%;
    box-sizing: border-box;
	position: relative;
	z-index: 0;
}
.col-2 {
    width: 60%;
    box-sizing: border-box;
	position: relative;
}
.col-1 img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 16%;
    bottom: 0;
	right: 0;
	border-radius: 3px;
}
header {
	background: transparent;
	border-bottom: 1px solid rgba(0,0,0,.2);
    min-height: 30px;
    padding: 5px 60px;
    z-index: 19;
	color: #2f2f2f;
    box-sizing: border-box;
    text-align: center;
	cursor: pointer;
}
.main-page {
	padding: 5px 30px;
	box-sizing: border-box;
    width: 100%;
}
.buttons {
	margin: 50px 10px;
}
.button-wrapper {
	display: flex;
	margin-bottom: 5px;
}
.button-wrapper i {
	display: block;
	margin: 5px 10px;
	font-size: 1.1em;
    color: rgba(0,0,0,.8);
}
button {
    padding: 5px 20px;
    border-radius: 3px;
    margin-bottom: 25px;
    color: rgba(0,0,0,.8);
    font-size: 1em;
    font-weight: 400;
	background: #ffffffa8;
	transition: .4s;
	border: 1px solid rgba(0,0,0,.1);
	font-family: inherit;
	width: 250px;
	text-align: left;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	position: relative;
    left: 50%;
    transform: translate(-50%, 0);
	user-select: none;
}
button:hover {
	color: white;
}
button img {
	height: 24px;
	vertical-align: middle;
	margin-top: -5px;
	margin-left: 8px;
	display: none;
}
button:hover img {
	display: inline;
}
button:focus{
	outline: none;
	color: white;
}
.green-hover-block:hover {
	background: #b6e66e;
	border: 1px solid #b6e66e;
}
.brown-hover-block:hover {
	background: #dbc1a8;
	border: 1px solid #dbc1a8;
}
.blue-hover-block:hover {
    background: #42aef7;
	border: 1px solid #42aef7;
}
.green-hover-block:focus {
	background: #b6e66e;
}
.brown-hover-block:focus {
	background: #dbc1a8;
}
.blue-hover-block:focus {
    background: #42aef7;
}
.btns {
    display: flex;
}
a{
    text-decoration: none;
}
.main-app {
	border-radius: 3px;
	padding: 0 20px;
    width: 500px;
    height: 420px;
	left: 3%;
    top: 9%;
    bottom: 0;
	position: absolute;
	scroll: scroll;
}

.song-app {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.song-main {
	position: relative;
	height: 150px;
    border-top: 10px solid rgba(255, 255, 255, 0.8);
	width: 100%;
}
.song-main .cover {
	height: 150px;
	width: 50%;
	object-fit: cover;
	border-radius: 3px 0 0 3px;
}
.song-main .start-text {
	position: absolute;
	top: 15px;
	right: 0;
	text-transform: uppercase;
	user-select: none;
	font-weight: 500;
	font-size: 1.5em;
}
audio {
	display: block;
	margin-left: -21px;
	margin-top: -12px;
	padding-left: 10px;
}
.audio-block {
	position: absolute;
	top: 60px;
	right: 0;
	height: 30px;
	width: 30px;
	overflow: hidden;
	border-radius: 6px;
}
audio::-webkit-media-controls-panel {
	background: #f1f3f4;
}
.song-title {
	display: block;
	font-size: .9em;
}
.song-desc {
	text-align: center;
    overflow: auto;
    height: 170px;
    padding-bottom: 60px;
    font-size: .9em;
    font-family: inherit;
}
.white-bg {
	height: 150px;
	width: 100%;
	position: absolute;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.0984768907563025) 20%, rgba(255,255,255,0.10688025210084029) 28%, rgba(255,255,255,0.3029586834733894) 38%, rgba(255,255,255,0.5550595238095238) 40%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
}

.song-page {
	background: white;
	position: relative;
	z-index: 1;
	min-height: 100vh;
}
.new-song-msg {
	display: block;
	width: 100%;
	height: 20px;
	text-align: center;
    background: linear-gradient(to right, #888 30%, #6797d5 50%, #994b7f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.arrow-btn {
	display: none;
}
.not-found-page {
	text-align: center;
}
.not-found-page-text {
	margin: 80px 0 30px 0;
	color: #42aef7;
}
.notes-page {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: white;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}
.notes-page img {
	max-height: 250px;
	width: 30%;
	margin-top: 15vh;
}
.hide-notes-page-btn {
	font-size: 2.1em;
	margin-top: 30px;
	cursor: pointer;
	display: block!important;
}

@media (max-width: 800px) {
	body {
		height: auto;
	}
	.app-container {
		display: block;
		height: auto;
	}
	.col-1 {
		width: 100%;
	}
	.col-1 img {
		top: 0;
		width: 100%;
		border-radius: 0;
		min-height: 100vh;
	}
	.col-2 {
		width: 100%;
	}
	.main-app {
		width: 100%;
		padding: 15px 0 10px 0;
		position: relative;
		height: auto;
	}
	.main-page {
		padding: 10px 8% 10px 0;
	}
	.song-app {
		position: fixed;
		bottom: 45px;
		left: 5vw;
		width: 90vw;
	}
	.song-main .start-text {
		font-size: 1em;
	}
	.song-desc {
		margin-bottom: 100px;
		display: block;
		width: 100%;
		height: 25vh;
		padding-bottom: 30px;
		overflow: scroll;
		border: 1px solid rgba(0,0,0,.05);
		border-radius: 3px;
		padding: 10px;
		font-size: .9em;
		background: rgb(237,239,246,.8);
	}
	.song-desc:empty {
		display: none;
	}
	.arrow-btn {
		display: inline-block;
		background: rgba(255,255,255,.6);
		border: 1px solid rgba(0,0,0,.7);
		padding: 1px 5px;
		border-radius: 3px;
		font-size: 1.1em;
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 3;
	}
	.up-bg {
		z-index: 2;
	}
	.key-form {
		width: 65%;
	}
}