<!doctype html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Вход</title>
  <meta name="description" content="Супер-мега-музыка по настроению!">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "/main/style.css" %}">
    <link rel="stylesheet" href="{% static "/editing/style.css" %}">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static "/main/images/цветочек.png" %}">
</head>
<body>
        {% include "header.html" %}
		<div class="app-container login-page">
			<div class="col-1">
				<img src="{% static "/editing/images/main-cover.jpg" %}" class="illustration">
			</div>
			<div class="col-2">
					<div class="main-page song-page">
						<main class="main-app">
							<h1>Вход</h1>
                              {% if form.subject.errors %}
                              <div class="errorlist">
                                <ul>
                                {% for error in form.subject.errors %}
                                  <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                              </div>
                              {% endif %}
                              <form class="settings-form" action="{% url 'signin' %}" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                  <button class="blue-hover-block settings-btn" type="submit">Войти</button>
                             </form>
						</main>
					</div>
			</div>
		</div>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
</html>
