<!doctype html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ song.name }}</title>
  <meta name="description" content="Супер-мега-музыка по настроению!">
  <link rel="icon" type="image/x-icon" href="{% static "/main/images/цветочек.png" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "/main/style.css" %}">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        {% include "header.html" %}
		<div class="app-container">
			<div class="col-1" id="bg">
				<img src="/media/{{ song.page_cover }}" class="illustration">
			</div>
			<div class="col-2">
					<div class="main-page song-page">
						<main class="main-app">
                            {% if song.notes %}
                                <div class="notes-page hide" id="notes_page">
                                    <i class="el-icon-arrow-up hide-notes-page-btn" onclick="hide_notes()"></i>
                                    <img src="/media/{{ song.notes }}"/>
                                </div>
                            {% endif %}
                            <div class="new-song-msg">
                                <span class="hide" id="new_song_msg"><i class="el-icon-star-off"></i> попалась впервые</span>
                                {% if song.notes %}
                                    <span class="pointer" onclick="open_notes();"><i class="el-icon-sugar"></i> ноты</span>
                                {% endif %}
							</div>
                            <h1>{{ song.name }}</h1>
							<pre class="song-desc">{{ song.text }}</pre>
							<div class="song-app">
								<div class="song-main">
									<div class="white-bg"></div>
									<img src="/media/{{ song.song_cover }}" class="cover">
									<span class="start-text">Старт</span>
									<div class="audio-block">
										<audio controls src="/media/{{ song.audio_file }}" id="audio_player"></audio>
									</div>
								</div>
							</div>
						</main>
					</div>
			</div>
			<div class="arrow-btn" id="bg_btn" onclick="setBg();"><i class="el-icon-arrow-down"></i></div>
			<div class="arrow-btn hide" id="audio_btn" onclick="setAudio();"><i class="el-icon-arrow-up"></i></div>
		</div>
    <script>
        let is_checked = localStorage.getItem("{{ song.name }}-checked")
        if(!is_checked) {
            document.querySelector("#new_song_msg").classList.remove('hide')
            localStorage.setItem("{{ song.name }}-checked", "True")
        }
        const audio_player = document.getElementById('audio_player')
        audio_player.autoplay = true

        const setBg = () => {
            const bgBtn = document.getElementById('bg_btn')
            const audioBtn = document.getElementById('audio_btn')
            const bg = document.getElementById('bg')
            bgBtn.classList.add('hide')
            audioBtn.classList.remove('hide')
            bg.classList.add('up-bg')
        }
        const setAudio = () => {
            const bgBtn = document.getElementById('bg_btn')
            const audioBtn = document.getElementById('audio_btn')
            const bg = document.getElementById('bg')
            bgBtn.classList.remove('hide')
            audioBtn.classList.add('hide')
            bg.classList.remove('up-bg')
        }
        const open_notes = () => {
            document.getElementById('notes_page').classList.remove('hide')
        }
        const hide_notes = () => {
            document.getElementById('notes_page').classList.add('hide')
        }
        </script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
</html>
